<html>
  <head>
    <title>Project Parsnip</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/stylesheets/reset.css">
	<link rel="stylesheet" href="/stylesheets/index.css">
  </head>
<body>
  
  <a href="https://github.com/styu/parsnip"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_white_ffffff.png" alt="Fork me on GitHub"></a>
  <!--
<ul>
<li><a href='pong'>Let's play pong</a></li>
<li><a href='pointer'>Pointer</a></li>
</ul>
  -->
<div id='logo'></div>
<div id='spiel'>A web framework based on Node.js & Socket.io that instantly links<br />any number of smartphones together to interact with web applications.</div>

<h2>Install</h2>
  <div class='codeforthought'>npm install pjparsnip</div>
<h2>Demos</h2>
<div id='demos'>
  <a class='demoitem' target='_blank' href='pointer'>Pointer</a>
  <a class='demoitem' target='_blank' href='pong'>Pong</a>
  <a class='demoitem' target='_blank' href='skyhigh'>Skyhigh</a>
</div>
<h3>Built for HackMIT 2013</h3>
</body>
</html>
