<html>
<head>
  <title>Lobby</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/jquery-1.9.0.min.js"></script>
  <script src="/js/util.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <div id="title"><h2>Scan a QR code to Start</h2></div>
  <div class="qr_codes_container" id="container1">
  </div>
  <div class="qr_codes_container" id="container2">
  </div>

  <script>
    var socket = io.connect(window.location.origin);
    var tokens = document.URL.split("/");
    var game = tokens[tokens.length-1];
    
    // Upon connecting, the lobby needs to handshake the server and tell it what
    // room it is in, and what game it is requesting.
    socket.on('connect', function() {
      socket.emit('handshake', { page: "lobby", game: game });
    });
    
    // Upon receiving the handshake, the lobby will receive data on how many
    // players are in the requested game. It will need to generate QR codes based
    // on the requested game (implementation-specific) which lead to the mobile
    // sites.
    socket.on('handshake', function (data) {
      for (var i = 1; i <= data.numberControllers; i++) {
        var container;
        if (i == 1 || i ==2) {
          container = $("#container1");
        }
        else {
          container = $("#container2");
        }
        $("<div id=\"qr_code" + i + "\" class=\"qr_code\"></div>").appendTo(container);
        util_generate_qr_code(window.location.origin + "/m/" + data.room + "/" + i).appendTo("#qr_code" + i);
        $("<div class=\"player\"><h3>Player " + i + "</h3><h4> " + window.location.origin + "/m/" + data.room
               + "/" + i + "</h4></div>").appendTo("#qr_code" + i);
      }
    });
    
    // The lobby will recieve the 'playersready' message once it detects that all
    // the controllers have connected. It will then need to redirect to the actual
    // game.
    socket.on('playersready', function(data) {
      window.location = window.location.origin + "/" + data.game + "/" + data.room;
    });
    
    socket.on('disconnect', function() {
      $("#qr_codes_container").html("");
    });
    
  </script>
</body>
</html>
