<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://localhost');
  var packetno = 0;
  var accelX = 0;
  var accelY = 0;
  var accelZ = 0;
  
  transmitdata = function(){
    socket.emit('controller', { packetno: packetno,
                                accelX: accelX,
                                accelY: accelY,
                                accelZ: accelZ});
    packetno ++;
  }
  
  socket.on('handshake', function (data) {
    console.log("connected to socket!");
  });
  
  setInterval(transmitdata,10);

window.ondevicemotion = function(event) {  
    accelX = event.accelerationIncludingGravity.x;  
    accelY = event.accelerationIncludingGravity.y;  
    accelZ = event.accelerationIncludingGravity.z;
}

</script>


This is the mobile view controller. BUILD A COOL UI HERE :D