<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect(window.location.origin);
  
  // Upon connecting, send a room request to the server. The game field should
  // be "pong", as it's the only thing that it understands right now
  socket.on('connect', function () {
    socket.emit('requestroom', { game: "pong" });
  });
  
  // The server will respond with a 'assignroom' with a room number in data.room
  // This page then needs to redirect to a lobby page with that room number
  socket.on('assignroom', function (data) {
    window.location = window.location.origin + "/mouse/lobby/" + data.room;
  });
  
</script>

Redirecting...
