<script src="/socket.io/socket.io.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script>
  var socket = io.connect(window.location.origin);
  
  socket.on('controls', function (data) {
    if (data.playerNumber == 1) {
      if (data.mouseX !== undefined) {
        $("#x1").text(data["mouseX"]);
        $("#y1").text(data["mouseY"]);
      } else if (data.accelX !== undefined) {
        $("#x1").text(data["accelX"]);
        $("#y1").text(data["accelY"]);
      }
    } else if (data.playerNumber == 2) {
      if (data.mouseX !== undefined) {
        $("#x2").text(data["mouseX"]);
        $("#y2").text(data["mouseY"]);
      } else if (data.accelX !== undefined) {
        $("#x2").text(data["accelX"]);
        $("#y2").text(data["accelY"]);
      }
    }
    
  });
  
</script>

Player 1 is at:
<div id="x1"></div>
<div id="y1"></div>
<br/>
Player 2 is at:
<div id="x2"></div>
<div id="y2"></div>
<br/>
