
<html>
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="/js/mobile.js"></script>
    <link rel="apple-touch-icon" href="../images/finger.png"/>
    
	<link rel="stylesheet" href="/stylesheets/mobile.css">
    <meta name="viewport" content="width=320,user-scalable=false" />
  </head>
  <body>
    <div id='content'>
      <h1>player id</h1>
      <span id="playerNum"></span>
    </div>
  </body>
</html>
