<link rel="stylesheet" href="/stylesheets/pointer.css">
<script src="/socket.io/socket.io.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script type='text/javascript'>
	var tokens = document.URL.split("/");
  var room = parseInt(tokens[tokens.length-1]);
  var socket = io.connect(window.location.origin);
  
	socket.on('connect', function() {
    socket.emit('handshake', { room: room, page: "screen" });
  });
	
  $(document).ready(function(){
    h = $(document).height();
    w = $(document).width();
  });
  var finalY = 0;
  var finalX = 0;
	
	socket.on('handshake', function (data) {
		setInterval(move,100);
	});
  
  function move(){
      currentY = parseInt($("#pointer").css("top"));
      currentX = parseInt($("#pointer").css("left"));
      newX = currentX + (finalX-currentX)/3;
      newY = currentY + (finalY-currentY)/3;
      $("#pointer").css({left: newX + 'px', top: newY + 'px',});
  }
  socket.on('controls', function (data) {
    if (data["playerNumber"] === 1) {
      finalY = h*((data["agY"]+5)/10);
      finalX = w*((data["agX"]+5)/10);
    }
  });
  
</script>
<div id="pointer"></div>
	<div id="footer">
		powered by parsnip <span class='dot'></span> made for hackMIT
	</div>