@font-face{
font-family: governor;
src: url('../fonts/governor.ttf');
}
#content{
  text-align: center;
  font-family: governor;
}
h1{
  margin-top: 10px;
  font-weight: normal;
  line-height: normal;
  color: #cccccc;
}
#playernum{
  font-size: 200;
}
