#pointer{
  width:100px;
  height:129px;
  background-image: url("../images/finger.png");
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
}

#footer{
  position: fixed;
  bottom: 20px;
  text-align: center;
  width: 100%;
  color: #cccccc;
  font-weight: 500;
  font-family: Arial, sans-serif;
}
.dot{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  background-color: #cccccc;
  margin: 2px;
}