@font-face{
font-family: governor;
src: url('../fonts/governor.ttf');
}
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url("../images/debut_dark.png");
}
#header{
  margin-top: 20px;
  position: fixed;
  width: 100%;
}
#footer{
  position: fixed;
  bottom: 20px;
  text-align: center;
  width: 100%;
  color: rgba(0,0,0,0.5);
  font-weight: 600;
  font-family: Arial, sans-serif;
}
h1{
  text-shadow: 0px 1px 2px #666666;
        filter: dropshadow(color=#666666, offx=0, offy=1);
  color: #111111;
  font-family: "governor", sans serif;
  font-size: 100px;
  text-align: center;
}
h2{  text-shadow: 0px 1px 1px #444444;
        filter: dropshadow(color=#ffffff, offx=0, offy=1);
  color: #161616;
  font-family: "governor", sans serif;
  font-size: 40px;
  text-align: center;
  height: 40px;
  
}
.board {
}
.paddle {
  width: 20px;
  height: 120px;
  background-color: rgba(255,255,255,0.9);
  position: fixed;
  border: 1px #999999 solid;
  -webkit-box-shadow:  2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  box-shadow:  2px 2px 5px 1px rgba(0, 0, 0, 0.3);
}
#player1{
  left: 20px;
  top: -webkit-calc(50% - 60px);
}
#player2{
  right: 20px;
  top: -webkit-calc(50% - 60px);
}
#ball{
  border-radius: 50%;
  border: 1px #999999 solid;
  -webkit-box-shadow:  2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  box-shadow:  2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  width: 20px;
  height: 20px;
  background-color: rgba(255,255,255,0.9);
  position: fixed;
  top: -webkit-calc(50% - 10px);
  left: -webkit-calc(50% - 10px);
}
#canvasWrapper {
  height: 100%;
}
.dot{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  background-color: #000000;
  margin: 2px;
}