@font-face{
font-family: governor;
src: url('../fonts/governor.ttf');
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/debut_dark.png");
}
a {
  color: #00b7ff;
}

div#title {
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:40px;
  text-align:center;
  color:#c6c6a4;
}

div.qr_codes_container {
  position: relative;
  width:900px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  margin-bottom:10px;
}
h2{
  font-family: 'Open Sans',sans-serif;
  margin-top: 20px;
  
  text-shadow: 0px -1px 2px #000000;
        filter: dropshadow(color=#000000, offx=0, offy=1);
  font-family: "governor", sans serif;
  font-size: 40px;
  text-align: center;
  color: rgba(255,220,140,0.6);
}
h3{
  font-family: 'Open Sans',sans-serif;
  font-size: 24px;
  color: rgba(255,255,255,0.3);
}
h4{
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  color: rgba(255,220,140,0.8);
}
div#qr_code1 {
  position: relative;
  display: inline-block;
}
div#qr_code2 {
  position: relative;
  display: inline-block;
  margin-left: 120px;
}
div#qr_code3 {
  position: relative;
  display: inline-block;
}
div#qr_code4 {
  position: relative;
  display: inline-block;
  margin-left: 120px;
}
div.player {
  margin-top:10px;
  text-align:center;
  font-weight:bold;
  color:#c6c6a4;
}
